.buttonDiv {
    width: 80px;
    height: 40px;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.buttonDiv:hover {
    background: white;
    color: black;
    box-shadow: 0 0 12px -2px #000;

}

.user {
    display: flex;
    flex-wrap: wrap;
    /*width: 35%;*/
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    /*transition: 100ms linear;*/
    /*background: #e6e3e3;*/
}

.user:hover {
    box-shadow: 0 0 12px -2px #000;
}